@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadScale {
  0% {
    transform: scale(150%);
  }
  100% {
    transform: scale(100%);
  }
}

html{
  animation: fadeIn ease 1s;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgba(58, 58, 58, 0.634); /* Tint color */
  background-blend-mode: multiply;
  background-image: url(pics/SeqLivingroom.0252.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  text-shadow: .5px .5px .5px rgb(100, 100, 100);
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.5;
  margin: 0px 0;
  font-size: 20px;
}

p {
  margin: 10px 0;
}

.nav-header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.pipeBar {
  box-sizing: border-box;
  background: white;
  height: 1em;
  width: .1em;
}

.navbar .flex {
  justify-content: space-between;
}


.navbar {
  background-image: url(pics/header_pic.jpg);
  background-size: cover;
  color: white;
  filter: drop-shadow(.5px .5px 5px rgb(3, 3, 3));
  /* position: sticky; */
  height: 5em;
  top: 0;
}

.navbar ul{
  display: flex;
}

.navbar a {
  height: 100%;
  color: white;
  padding: 19px 15px;
  transition: 500ms;
  font-size: 20px;
  transition: .5s;
}

.navbar a:hover {
  opacity: 100%;
  background-color: #ddd;
  color: black;
  font-size: 20px;
}

.navbar a.active{
  background-color: darkgoldenrod;
  color: white;
  font-size: 20px;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 17px;
}

.heroimg {
  height: 93vh;
  width: 100%;
  align-self: center;
  background-image: url(pics/tpxlogo.png);
  background-size: 70vh;  
  background-repeat: no-repeat;
  background-position: center;
  animation: loadScale ease 700ms;
}

.services-content {
  display: grid;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: rgba(34, 34, 34, 0.584);
  grid-template-columns: repeat(2, 445px);
  grid-auto-rows: 305px;
  /* grid-gap: 1em; */
}

.services-box {
 display: flex;
 align-items: center;
 justify-items: center;
 text-shadow: none;
 font-size: 18px;
 color: rgb(191, 191, 191);
 padding: 3em;
 text-transform: none;
}

.services-box:nth-child(1) {
  /* background: darkgoldenrod; */
  background-image: url(pics/icon_investments.png);
  background-position: cover;
  background-repeat: no-repeat;
}

.services-box:nth-child(2) {
  
}

.services-box:nth-child(3) {
  
}

.services-box:nth-child(4) {
  /* background: darkgoldenrod; */
  background-image: url(pics/icon_propertymanagement.png);
  background-position: cover;
  background-repeat: no-repeat;
}

.services-box:nth-child(5) {
  /* background: darkgoldenrod; */
  background-image: url(pics/icon_buying.png);
  background-position: cover;
  background-repeat: no-repeat;
}

.services-box:nth-child(6) {
  
}

.services-box:nth-child(7) {
}

.services-box:nth-child(8) {
  /* background: darkgoldenrod; */
  background-image: url(pics/icon_selling.png);
  background-position: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.testimonial-button {
  display: grid;
  position:absolute;
  bottom: 0em;
  align-items: center;
  justify-items: center;
  height: 70px;
  width: auto;
  opacity: 25%;
  transition: 500ms;
  z-index: 0;
}

.aboutContainer {
  display: grid;
  margin: 0 auto;
}

.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  height: 30vh;
  width: auto;
  text-shadow: 0 0 12px black;
  font-style: italic;
  background: rgba(184, 135, 11, 0.308);
}


#testimonial-arrow {
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 1.5em;
  border-bottom: #ddd solid 3px;
  border-right: #ddd solid 3px;
  transform: rotate(45deg);
}

#test {
  position: absolute;
  bottom: 1.7em;
  color: white;
  font-size: 2em;
}

.testimonial-button:hover {
  opacity: 100%;
}

#home-testimonials-wrapper {
  height: 100vh;
  background-color: rgb(34, 34, 34);
}


.about-wrapper {
  height: 100%;
  width: 100vw;
  background-color: rgb(34, 34, 34);
  padding: 60px 20%;
  /* filter: drop-shadow(.5px .5px 2px rgb(3, 3, 3)); */
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
}

.about-writing {
  border-bottom: rgb(208, 208, 208) solid 3px;
  font-size: 20px;
  text-shadow: none;
  color: rgb(191, 191, 191);
  text-transform: none;
}

.about-team-header {
  padding-top:40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.641); */
  color: rgb(191, 191, 191);
}

.about-card-container {
  display: grid;
  grid-gap: 5em;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.about-card {
  justify-self: center;
  padding: 2em;
  border-radius: .3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.868);
  text-align: center;
  background-color: white;
}

.about-card p {
  margin: 0;
  text-shadow: none;
  font-size: 20px;
}

.about-card a {
  margin: 0;
  text-shadow: none;
  font-size: 15px;
  color: rgb(92, 92, 92);
}

.circle-pic-frame {
  height: 15em;
  width: 15em;
  border: rgb(255, 255, 255) solid 6px;
  border-radius: 50%;
  background: gray;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.211);
}

.content-wrapper {
  display: grid;
  margin: 0 auto;
}

.contact-content-container {
  width: 100vw;
  background-color: rgb(34, 34, 34);
  padding: 0 15%;
  filter: drop-shadow(.5px .5px 2px rgb(3, 3, 3));
  z-index: -9999;
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
}

.contact-address {
  border-bottom: rgb(208, 208, 208) solid 3px;
  font-size: 20px;
  text-shadow: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 3em 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.307);
}

.contact-address p:nth-of-type(3) {
  color: rgb(191, 191, 191);
}
.contact-address p:nth-of-type(4) {
  color: rgb(191, 191, 191);
}

.agent-contact-container {
  padding: 8em 0;
  margin: 0;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-card {
  justify-self: center;
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr;
  grid-gap: .3em;
  margin: 0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.714);
  border-radius: .3em;
  background: white;
  align-items: center;
}

.contact-card-img {
  background:rgb(162, 161, 161);
  grid-row: 1 / span 6;
  height: 150px;
  width: 150px;
  border-radius: .3em;
}

.contact-card-info-container {
  margin: 0;
}

.contact-card p {
  margin: 0;
  padding-left: .5em;
  text-shadow: none;
  font-size: 15px;
}

.contact-card-social-bar {
 display: flex;
}

.contact-card-social-bar a {
  padding-left: .5em;
  display: flex;
  align-content: center;
  align-items: center;
}

.contact-card-social-bar img {
  width: 2em;
}

.footer {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  color: white;
  background-image: url(pics/header_pic.jpg);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(-.5px -.5px 5px  rgb(3, 3, 3))
}

.footer-social-container {
  padding-bottom: .5em;
}

.footer-social-container img {
  padding: 0 .5em;
  width: 4em;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 50px;
  height: 5px;
  background-color: white;
  margin: 10px 0;
  transition: 0.5s;
} 

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-15px, 8px,);
  transform: rotate(-45deg) translate(-17px, 4px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-15px, -8px,);
  transform: rotate(45deg) translate(-16px, -4px);
}

.open .mobile-menu {
  display: grid;
  animation: fadeIn ease .5s;
  width: 100vw;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 5em;
  left: 0;
  background: rgba(37, 37, 37, 0);
}

.mobile-menu li {
  background-color: rgba(43, 43, 43, 0.849);
  color: white;
  width: 100vw;
  display: grid;
  justify-items: center;
}

.mobile-menu li:hover {
  opacity: 100%;
  background-color: rgba(210, 210, 210, 0.74);
  color: black;
}

.mobile-menu a {
  width: 100vw;
  text-align: center;
}

@media (min-width: 1300px) {
  h1,
  h2 {
    display: inline-block;
  }

  .mobile-menu{
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  nav {
    display: none;
  }

  .navbar {
    z-index: 9999;
  }

  .heroimg {
    overflow:visible;
    position: relative;
    max-height: 100vh;
    width: 100%;
    align-self: center;
    background-image: url(pics/tpxlogo.png);
    background-size:60vh;
    background-repeat: no-repeat;
    background-position: center;
    animation: loadScale ease 700ms;
  }

  h1 {
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }

  .pipeBar {
    display: none;
  }

  .nav-header {
    display: initial;
  }

  .navbar a {
    font-size: 18px; 
    padding: 5px 5px;
  }
  
  .navbar a:hover {
    background-color: initial;
    font-size: 18px;
    padding: 5px 5px;
  }
  
  .navbar a.active{
    background-color: rgba(184, 135, 11, 0);
    color: white;
    font-size: 18px;
    padding: 5 5px;
  }

  #hamburger-icon {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .mobile-menu a:hover {
    color: #333;
  }

  .about-hero {
    font-size: 1.7em;
  }

}

@media (max-width: 898px) {
  .services-content {
    display: grid;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-color: rgba(34, 34, 34, 0.584);
    grid-template-columns: repeat(2, 222.5px);
    grid-auto-rows: 152.5px;
    /* grid-gap: 1em; */
  }

  .services-box {
    font-size: 10px;
   }

   .services-box:nth-child(1) {
    /* background: darkgoldenrod; */
    background-image: url(pics/icon_investments_mobile.png);
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  .services-box:nth-child(2) {
    
  }
  
  .services-box:nth-child(3) {
    
  }
  
  .services-box:nth-child(4) {
    /* background: darkgoldenrod; */
    background-image: url(pics/icon_propertymanagement_mobile.png);
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  .services-box:nth-child(5) {
    /* background: darkgoldenrod; */
    background-image: url(pics/icon_buying_mobile.png);
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  .services-box:nth-child(6) {
    
  }
  
  .services-box:nth-child(7) {
  }
  
  .services-box:nth-child(8) {
    /* background: darkgoldenrod; */
    background-image: url(pics/icon_selling_mobile.png);
    background-position: cover;
    background-repeat: no-repeat;
  }

  .about-wrapper {
    height: 100%;
    width: 100vw;
    background-color: rgb(34, 34, 34);
    padding: 2em 10%;
    /* filter: drop-shadow(.5px .5px 2px rgb(3, 3, 3)); */
    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
  }
  
  .about-writing {
    font-size: 17px;
  }
  
}
